.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.704000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.919000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910500;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-4.555061px;}
._2{width:1.604569px;}
._4{width:6.602813px;}
._1{width:7.724753px;}
._3{width:1162.159777px;}
.fc0{color:rgb(34,34,34);}
.fs2{font-size:40.383878px;}
.fs3{font-size:44.137027px;}
.fs1{font-size:48.460653px;}
.fs0{font-size:113.134911px;}
.y0{bottom:0.000000px;}
.y2b{bottom:64.987963px;}
.y1f{bottom:78.499298px;}
.y1e{bottom:92.010633px;}
.y1d{bottom:105.521968px;}
.y1c{bottom:119.033303px;}
.y1b{bottom:132.544638px;}
.y1a{bottom:146.055973px;}
.y19{bottom:159.567323px;}
.y18{bottom:174.579912px;}
.y17{bottom:188.091272px;}
.yf{bottom:227.874644px;}
.y16{bottom:249.642883px;}
.y15{bottom:263.904872px;}
.y14{bottom:277.416162px;}
.y26{bottom:290.176883px;}
.y25{bottom:303.688218px;}
.y13{bottom:306.690733px;}
.y2a{bottom:310.443913px;}
.y24{bottom:317.199553px;}
.y12{bottom:320.952722px;}
.y23{bottom:330.710888px;}
.y11{bottom:334.464042px;}
.y29{bottom:343.471593px;}
.y22{bottom:344.222223px;}
.y2e{bottom:354.731053px;}
.y21{bottom:357.733557px;}
.y2d{bottom:368.993002px;}
.y20{bottom:371.244892px;}
.y28{bottom:375.748693px;}
.y2c{bottom:382.504352px;}
.y27{bottom:406.524513px;}
.y10{bottom:409.527014px;}
.ye{bottom:442.554724px;}
.ya{bottom:486.091263px;}
.y9{bottom:499.602598px;}
.y3b{bottom:511.910779px;}
.y8{bottom:513.113933px;}
.y7{bottom:526.625268px;}
.y3a{bottom:529.175263px;}
.yd{bottom:530.052868px;}
.y6{bottom:540.136603px;}
.y39{bottom:546.439746px;}
.yc{bottom:548.818611px;}
.y5{bottom:553.647938px;}
.y38{bottom:563.704230px;}
.y4{bottom:567.159273px;}
.yb{bottom:567.584354px;}
.y37{bottom:580.968713px;}
.y3{bottom:610.695794px;}
.y3c{bottom:633.965274px;}
.y36{bottom:687.260021px;}
.y35{bottom:700.771356px;}
.y2{bottom:707.527021px;}
.y34{bottom:714.282691px;}
.y1{bottom:724.040873px;}
.y33{bottom:727.794026px;}
.y32{bottom:741.305361px;}
.y31{bottom:754.816714px;}
.y30{bottom:769.829306px;}
.y2f{bottom:783.340658px;}
.h4{height:29.742726px;}
.h5{height:30.005222px;}
.h6{height:32.793811px;}
.h3{height:35.691271px;}
.h2{height:77.271144px;}
.h0{height:841.889739px;}
.h1{height:842.000000px;}
.w0{width:595.275600px;}
.w1{width:595.500000px;}
.x0{left:0.000000px;}
.x4{left:21.768263px;}
.x9{left:29.274559px;}
.xa{left:42.398851px;}
.x8{left:67.275190px;}
.x3{left:87.847136px;}
.x14{left:136.403494px;}
.x16{left:183.446869px;}
.x1{left:203.596589px;}
.x15{left:212.615867px;}
.x13{left:225.916088px;}
.x17{left:230.173569px;}
.x10{left:233.445850px;}
.x2{left:254.885699px;}
.x7{left:274.812571px;}
.x11{left:303.254390px;}
.x12{left:316.378682px;}
.xf{left:408.870371px;}
.x6{left:415.848880px;}
.xe{left:419.977345px;}
.xd{left:429.794174px;}
.xb{left:436.526385px;}
.x5{left:438.015910px;}
.xc{left:483.499385px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-6.073415pt;}
._2{width:2.139425pt;}
._4{width:8.803751pt;}
._1{width:10.299671pt;}
._3{width:1549.546370pt;}
.fs2{font-size:53.845171pt;}
.fs3{font-size:58.849369pt;}
.fs1{font-size:64.614204pt;}
.fs0{font-size:150.846549pt;}
.y0{bottom:0.000000pt;}
.y2b{bottom:86.650617pt;}
.y1f{bottom:104.665731pt;}
.y1e{bottom:122.680844pt;}
.y1d{bottom:140.695957pt;}
.y1c{bottom:158.711070pt;}
.y1b{bottom:176.726184pt;}
.y1a{bottom:194.741297pt;}
.y19{bottom:212.756430pt;}
.y18{bottom:232.773217pt;}
.y17{bottom:250.788363pt;}
.yf{bottom:303.832858pt;}
.y16{bottom:332.857177pt;}
.y15{bottom:351.873163pt;}
.y14{bottom:369.888217pt;}
.y26{bottom:386.902510pt;}
.y25{bottom:404.917624pt;}
.y13{bottom:408.920977pt;}
.y2a{bottom:413.925217pt;}
.y24{bottom:422.932737pt;}
.y12{bottom:427.936963pt;}
.y23{bottom:440.947850pt;}
.y11{bottom:445.952057pt;}
.y29{bottom:457.962124pt;}
.y22{bottom:458.962963pt;}
.y2e{bottom:472.974737pt;}
.y21{bottom:476.978077pt;}
.y2d{bottom:491.990670pt;}
.y20{bottom:494.993190pt;}
.y28{bottom:500.998257pt;}
.y2c{bottom:510.005803pt;}
.y27{bottom:542.032684pt;}
.y10{bottom:546.036018pt;}
.ye{bottom:590.072965pt;}
.ya{bottom:648.121684pt;}
.y9{bottom:666.136797pt;}
.y3b{bottom:682.547705pt;}
.y8{bottom:684.151911pt;}
.y7{bottom:702.167024pt;}
.y3a{bottom:705.567017pt;}
.yd{bottom:706.737157pt;}
.y6{bottom:720.182137pt;}
.y39{bottom:728.586328pt;}
.yc{bottom:731.758147pt;}
.y5{bottom:738.197250pt;}
.y38{bottom:751.605640pt;}
.y4{bottom:756.212364pt;}
.yb{bottom:756.779138pt;}
.y37{bottom:774.624951pt;}
.y3{bottom:814.261058pt;}
.y3c{bottom:845.287031pt;}
.y36{bottom:916.346695pt;}
.y35{bottom:934.361808pt;}
.y2{bottom:943.369361pt;}
.y34{bottom:952.376921pt;}
.y1{bottom:965.387831pt;}
.y33{bottom:970.392034pt;}
.y32{bottom:988.407148pt;}
.y31{bottom:1006.422285pt;}
.y30{bottom:1026.439075pt;}
.y2f{bottom:1044.454211pt;}
.h4{height:39.656969pt;}
.h5{height:40.006962pt;}
.h6{height:43.725081pt;}
.h3{height:47.588361pt;}
.h2{height:103.028193pt;}
.h0{height:1122.519652pt;}
.h1{height:1122.666667pt;}
.w0{width:793.700800pt;}
.w1{width:794.000000pt;}
.x0{left:0.000000pt;}
.x4{left:29.024351pt;}
.x9{left:39.032745pt;}
.xa{left:56.531801pt;}
.x8{left:89.700253pt;}
.x3{left:117.129514pt;}
.x14{left:181.871325pt;}
.x16{left:244.595826pt;}
.x1{left:271.462118pt;}
.x15{left:283.487823pt;}
.x13{left:301.221450pt;}
.x17{left:306.898092pt;}
.x10{left:311.261133pt;}
.x2{left:339.847599pt;}
.x7{left:366.416761pt;}
.x11{left:404.339187pt;}
.x12{left:421.838242pt;}
.xf{left:545.160495pt;}
.x6{left:554.465173pt;}
.xe{left:559.969793pt;}
.xd{left:573.058899pt;}
.xb{left:582.035180pt;}
.x5{left:584.021214pt;}
.xc{left:644.665847pt;}
}
